* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style:none;
		
}
body {
	max-width: 1084px;
	margin: 0 auto;
	
}

@font-face {
	font-family: caps;
	src: url(../fonts/pantonmtav3-bold.ttf);
}	

a,h1,h2,h3,p{
	font-family: caps;
	
}
	
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	position: relative;
	z-index: 5;

}

.nav {
	width: 350px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.nav_list {
	font-size: 14px;
	color: #181818;
	font-family: caps;

}
.nav_list:hover {
	color: #6AB04C;
	transition: color 300ms ease;
}
.hero_h1 {
	position: relative;
	top: 100px;
	font-size: 30px;

}
.hero_p{
	position: relative;
	top: 102px;
	font-size: 14px;
	color: #FFF;
}

.from {
	color: #95A5A6;
	font-size: 12px;
	
}

.book {
	border: 1px solid #6AB04C;
	padding: 10px 30px 10px 30px;
	border-radius: 30px;

}

.book:hover {
	background-image: linear-gradient(to bottom, #6ab04c, #badc58);
	color: #FFF;
}

.price {
	color: #6AB04C;
	font-size: 12px;

}
.list_p {
	text-align: right ;
}
.list_p1 {
	text-align: right;
}
.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: calc(100vh - 80px);
	
}

.colors2 {
	width: 150px;
	display:flex; 
    justify-content: center;
    j
    margin-bottom: 11px;

}
.colors {
    display:flex; 
    justify-content: center;
    margin-bottom: 11px;
}

.white2, .black2, .red2 {
	display: flex;
	justify-content: space-between;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	

}


.white2 {
	border: 1px solid;
    border:1px solid #95a5a6;
    box-sizing: border-box;
}

.black2 {
	background:  #2a2b30;
}

.red2 {
	background: #aa071e;
}

.green, .black, .red, .white, .gray, .yellow, .blue, .orange, .pink{
    width: 12px;
    height: 12px;
    border-radius: 20px;
    margin: 0 4px; 
}
.red {
    background: #aa071e;
}
.black {

    background:  #2a2b30;
}
.green {
    background: #6ab04c;
}
.orange {
    background: #ff9331;
}
.pink {
    background: #ff664f;
}
.blue {
    background: #2f6aa2;
}
.gray {
    background: #95a5a6;
}
.yellow {
    background: #d1bb3f;
}
.white {
    border: 1px solid;
    border:1px solid #95a5a6;
    box-sizing: border-box;
}
.hero_content {
	height: 100%;
}
.hero::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #e8f0f3;
	z-index: -2;
	height: 100vh;
	}

.hero::after {
	content:'nodmotors';
	position: absolute;
	top: 200px;
	display:block;
	width: 1100px;
    height: 302px;
    z-index: -1;
    font-size: 250px;
    font-family: caps;
    color: #FFF;
    text-shadow: 0 3px 6px 
     rgba(24, 24, 24, 0.06);
    opacity: 0.3;

}	

option {
	font-family: caps;
}



.cars::before {
	content: url(../images/scroll_down.png);
	position: relative;	
	top:-50px;
	left: 0;
	z-index: 1;
}



.price {
	align-self: flex-end;
}

form {
	display: flex;
	padding-top: 27px;
	width: 100%;
	justify-content: space-between;

	
}
.selector {
	height: 40px;	
	width: 164px;
	border: 1px solid #FFF;
	border-radius: 30px;
	box-shadow: 0 3px 6px 0 rgba(24, 24, 24, 0.06);
	display: flex;
	font-family: caps;
	font-size: 14px;

}

.selectors {
	display: flex;
	flex-direction: row;
}

.selector:hover {
	background-image: linear-gradient(to bottom, #6ab04c, #badc58);
	color: #181818;
	transition: color 300ms ease;
}

.amount {
	width: 72px;
 	height: 40px;
 	border: 1px solid #FFF;
	border-radius: 30px;
	box-shadow: 0 3px 6px 0 rgba(24, 24, 24, 0.06);
	align-content: flex-end;
	font-family: caps;
	font-size: 14px;
	color: #181818;
	

}

.amount:hover {
  	background-image: linear-gradient(to bottom, #6ab04c, #badc58);
	color: #181818;
	transition: color 300ms ease;
  	
}



.car_list {
	margin-top:  100px;
	display: flex;
	flex-wrap:  wrap ;
	justify-content: center;
	justify-content: space-between;
	text-align: center;
	
	}


.car_list li {
	margin-top: 100px;
	align-items: center;
}

.model_specs {
	font-size: 10px;
	color: #95a5a6;
}

.color {
	border: 1px solid black;
	width: 50px;
	height: 12px;
	background: red;
	
}	
.lazy {
}
footer  {
	margin-top: 100px;
	width: 100%
	

}
.contact	 {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	}

.contact p {
	font-size: 14px;
	color: #95a5a6;
}	

.number {
	font-size: 14px;
	color: #95a5a6;
}
.email {
	font-size: 14px;
	color: #95a5a6;
}
.email:visited {
	font-size: 14px;
	color: #95a5a6;
}


/*page 2*/


.hero_page2{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: calc(100vh - 80px);
}

.hero_page2::after {
	content: url(../images/scroll_down.png);
	position: absolute;	
	bottom: -3px;
	left: 0;
	z-index: 5;
	
}
.page2_section_1 {
	display: flex;
	margin-top: 70px;

	
}

.section_1_p {
	font-size: 14px;
	color:  #95a5a6;
}
.article_p1 {
	font-size: 14px;
	color:  #95a5a6;
}

.section_1_h1 {
	font-size: 30px;
	margin-bottom: 30px
}

aside {
	margin-right: 20px;
}

.section_1_p {
	margin-bottom: 60px;
}

.article_p1{
	margin-bottom: 42px;
}

.section_2_h1 {
	font-size: 30px;
	margin-top: 40px;
	margin-bottom: 20px;

}
.sectiont_2_p2 {
	font-size: 14px;
	color:  #95a5a6;
	margin-bottom: 17px;
}

.stars {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	background-color: #e8f0f3;
	width: 624px;
	height: 400px;
}
.star_list li {
	font-family: caps;
	font-size: 18px;
	margin-bottom: 28px;
	width: 320px;
	display: flex;
	justify-content: space-between;
}
.star_span {
	font-size: 14px;
	color: #6AB04C;
}
.arcitcle_2_h1 {
	font-size: 30px;
}

.arcitcle_2_p {
	font-size: 14px;
	color:  #95a5a6;
}

.page2_sectoin_2 {
	display: flex;
	padding-top: 40px;
}
.pictures {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}



.section_3_p {
	font-size: 10px;
 	color: #95a5a6;
 	position: relative;
	top: 100px;
}

.section_2_image_performance::before {
	content: "";
	display: block;
	position: absolute;
	background-color: #181818;
	opacity: 0.9;
	top: 0;
	left: 0; 
	bottom: 0;
}

/*burger*/




#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFF; /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  opacity: 0.96;
}

.overlay_content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.name, .phone, .email, .massage {
	background-color: #e8f0f3;
	border-radius: 5px;
	width: 216px;
	height: 30px;
	margin-bottom: 15px;
}

.input_types {
	flex-direction: column;
	align-items: center;
	font-size: 18px;
	font-family: caps;
}
.send {
	width: 216px;
	height: 30px;
	border-radius: 20px;
	background-image: linear-gradient(to bottom, #6ab04c, #badc58);
	color: #FFF;
	border: 1px solid #707070;	

}

.overlay_p {
	font-size: 14px;
	color:  #95a5a6;
}



.change #input {
	display: none;
}

.pictures {
	display: flex;
	align-items: center;
}



@media (min-width :0px) {
	body {
		width:100%;
	}
	.nav {
		 display: none;
	}

	.hero {

		height: calc(100vh - 80px);
	}
	.form {
		flex-direction: column;
		align-items: center;

	}
	.selectors {
		flex-direction: column;
		align-items: center;
	}
	.amount {
		width: 164px;
	}

	.burger {
	display: block;
}

	.hero_image {
		padding-top: 100px;
		width: 	320px;
		height: 150px;

	}
	.hero_content {
		display: flex;
		flex-direction: column;
		
	}
	.hero_h1 {
	position: relative;
	top: 30px;
	font-size: 20px;



	}

	.car_specs {
		padding-top: 100px;
	}

	.specs {
		color: #6AB04C;
		font-size: 12px;

	}

	.li_specs {
		font-size: 16px;
	}

.hero_p{
	position: relative;
	top: 30px;
	font-size: 12px;
	color: #FFF;
}

.hero::after {
	content:'';
	width: 100%;


}


.cars_p{
	font-size: 10px;
 	color: #95a5a6;
}


.contact	 {
	height: 150px;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 40px;
	}

.list_p {
	position: relative;
	left: -50px;
}


.colors {
	width: 100%;
}

.car_list {
	margin-top: 20px;
}

.hero_content {
	height: 100%;
	flex-direction: column;
	align-items: center;
}


.car_specs {
	width: calc(100% - 20px);
	display: flex;
	font-family: caps;
	justify-content: space-between;
	
}
.page2_section_1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 70px;

	
}

.page2_sectoin_2 {
	display: flex;
	flex-direction: column;
	padding-top: 40px;
}

aside {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-right: 0;
}


.history {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.section_2_image {
	width: 100%;
}
.section_2_image_performance {
	width: 100%;
}

.section_2_article {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.map {
	width: 100%;
	margin-top: 40px;
}


.section_2_article_2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
}


.stars {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	background-color: #e8f0f3;
	width:100%;
	
}

.slider {
	display: none;
}

.pictures {
	display: flex;
	justify-content: center;
}

.car_list {
	display: flex;
	justify-content: center;
}


.section_3_h1 {
	display: flex;
	
	align-self: center;
}

.cars_h2 {
	display: flex;
	justify-content: center;
	font-size: 30px;

}


.cars_p{
	display: flex;
	justify-content: center;
	font-size: 10px;
 	color: #95a5a6;
}

.section_3_h1 { 
	display: flex;
	justify-content: center;
	position: relative;
	top: 100px;
	}


.section_3_p {
	display: flex;
	justify-content: center;
	font-size: 10px;
 	color: #95a5a6;
 	position: relative;
	top: 100px;
}

.overlay {
	width: 100%;

}

/*burger*/

	.burger {
		width: 40px;
		height: 40px;
		display: block;
		/*border: 1px solid black;*/
			}
	.burger_item  {

		display: block;
		width: 20px;
		height: 3px;
		background-color:#181818;
		border-radius: 5px;
		transition: 0.3s ease;
		margin-right: 20px
		}
	

#bar1 {
	transform: translateY(-3px);
}
#bar3 {
	transform: translateY(3px);
}


.change #bar1{
	 
	transform: translateY(3px) rotateZ(-45deg);
	
	}

.change #bar3 {
	
	transform: translateY(-3px)  rotate(45deg);
	
}
.change #bar2 {
	opacity: 0;
}


@media (min-width :400px) {

.hero {
	height: calc(100vh - 80px);
}


}

@media (min-width :1084px){

	.nav {
		display: flex;
	}

	.form {
		display: flex;
		flex-direction: row;
		
	}
	
	.selectors {
		flex-direction: row;
	}

	
	.hero_content {
	height: 100%;
	display: flex;
	flex-direction: column;

}
	.hero_h1 {
	position: relative;
	top: 100px;
	font-size: 30px;

}
	.hero_p{
	position: relative;
	top: 102px;
	font-size: 14px;
	color: #FFF;
}
	.hero_image {
	padding: 0;	
	width: 867px;
	height: 489px;
}

.amount {
	width: 72px;
 	height: 40px;
 	border: 1px solid #FFF;
	border-radius: 30px;
	box-shadow: 0 3px 6px 0 rgba(24, 24, 24, 0.06);
	align-content: flex-end;
	font-family: caps;
	font-size: 14px;
	color: #181818;
	

}
.hero::after {
	content:'nodmotors';
	position: absolute;
	top: 200px;
	display:block;
	width: 1100px;
    height: 302px;
    z-index: -1;
    font-size: 250px;
    font-family: caps;
    color: #FFF;
    text-shadow: 0 3px 6px 
     rgba(24, 24, 24, 0.06);
    opacity: 0.3;

}	
.cars_h2 {
	font-size: 30px;

}
.cars_p{
	font-size: 10px;
 	color: #95a5a6;
}

footer  {
	margin-top: 100px;
	width: 100%
	}

	.contact	 {
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	}

.car_list {
	margin-top:  100px;
	}
.hero_content {
	display: flex;
}
.hero_h1 {
	position: relative;
	top: 30px;
	right: 350px;
	font-size: 20px;
	flex-direction: row;
}	

.hero_p {
	position: relative;
	top: 40px;
	right: 370px;
	font-size: 14px;
	color: #FFF;
}

.car_specs {
	width: calc(100% - 300px);
	display: flex;
	font-family: caps;
	justify-content: space-between;
	
}

.specs {
	font-size: 12px;
	color: #6AB04C;

}
.li_specs {
	font-size: 30px;
}
.page2_section_1 {
	display: flex;
	flex-direction: row;
	margin-top: 70px;

	
}
.page2_sectoin_2 {
	display: flex;
	flex-direction: row;
	padding-top: 40px;
}

.section_2_image {
	width: 765px;
	height: 427px;
}

.section_2_image_performance {
	width: 440px;
	height: 427px;

}
aside {
	display: flex;
	margin-right: 20px;
}

.section_1_h1 {
	display: flex;
	align-self: flex-start;
}
.section_1_p {
	display: flex;
	align-self: flex-start;
}

.section_2_h1 {
	display: flex;
	align-self: flex-start;
}
.section_2_p2 {
	display: flex;
	align-self: flex-start;
}

.map {
	width: 440px;
	height: 376px;
}

.stars {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	background-color: #e8f0f3;
	width: 624px;
	height: 400px;
}

.arcitcle_2_h1 {
	display: flex;
	align-self: flex-start;
}
.slider {
	display: block;
}

.slider_firs_image {
	display: flex;
	align-self: flex-start;
}
.pictures {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}



.car_list {
	margin-top:  100px;
	display: flex;
	flex-wrap:  wrap ;
	justify-content: center;
	justify-content: space-between;
	text-align: center;
	
	}

.cars_h2 {
	
	display: flex;
	justify-content: flex-start;
	font-size: 30px;

}

.cars_p{
	display: flex;
	justify-content: flex-start;
	font-size: 10px;
 	color: #95a5a6;
}

.section_3_p {
	display: flex;
	justify-content: flex-start;
	font-size: 10px;
 	color: #95a5a6;
 	position: relative;
	top: 100px;
}

.section_3_h1 { 
	display: flex;
	justify-content: flex-start;
	position: relative;
	top: 100px;
	}

	.burger {
		display: none;
	}


}