* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style:none;
		
}
body {
	max-width: 1084px;
	margin: 0 auto;
	
}

@font-face {
	font-family: caps;
	src: url(../fonts/pantonmtav3-bold.ttf);
}	

a,h1,h2,h3,p{
	font-family: caps;
	
}
	
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;

}

.nav {
	width: 350px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.nav_list {
	font-size: 14px;
	color: #181818;
	font-family: caps;

}
.nav_list:hover {
	color: #6AB04C;
	transition: color 300ms ease;
}
.hero_h1 {
	position: relative;
	top: 100px;
	font-size: 30px;

}
.hero_p{
	position: relative;
	top: 102px;
	font-size: 14px;
	color: #FFF;
}

.from {
	color: #95A5A6;
	font-size: 12px;
	
}

.book {
	border: 1px solid #6AB04C;
	padding: 10px 30px 10px 30px;
	border-radius: 30px;

}

.book:hover {
	background-image: linear-gradient(to bottom, #6ab04c, #badc58);
	color: #FFF;
}

.price {
	color: #6AB04C;
	font-size: 12px;

}
.list_p {
	text-align: right ;
}
.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: calc(100vh - 80px);
	
}
.colors {
    display:flex; 
    justify-content: center;
    margin-bottom: 11px;
}

.white2, .black2, .red2 {
	width: 20px;
	height: 20px;
	border-radius: 20px;
	

}


.white2 {
	border: 1px solid;
    border:1px solid #95a5a6;
    box-sizing: border-box;
}

.black2 {
	background:  #2a2b30;
}

.red2 {
	background: #aa071e;
}

.green, .black, .red, .white, .gray, .yellow, .blue, .orange, .pink{
    width: 12px;
    height: 12px;
    border-radius: 20px;
    margin: 0 4px; 
}
.red {
    background: #aa071e;
}
.black {

    background:  #2a2b30;
}
.green {
    background: #6ab04c;
}
.orange {
    background: #ff9331;
}
.pink {
    background: #ff664f;
}
.blue {
    background: #2f6aa2;
}
.gray {
    background: #95a5a6;
}
.yellow {
    background: #d1bb3f;
}
.white {
    border: 1px solid;
    border:1px solid #95a5a6;
    box-sizing: border-box;
}
.hero_content {
	height: 100%;
}
.hero::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #e8f0f3;
	z-index: -2;
	height: 100vh;
	}

.hero::after {
	content:'nodmotors';
	position: absolute;
	top: 200px;
	display:block;
	width: 1192px;
    height: 302px;
    z-index: -1;
    font-size: 250px;
    font-family: caps;
    color: #FFF;
    text-shadow: 0 3px 6px 
     rgba(24, 24, 24, 0.06);
    opacity: 0.3;

}	

option {
	font-family: caps;
}



.cars::before {
	content: url(../images/scroll_down.png);
	position: relative;	
	top:-50px;
	left: 0;
	z-index: 5;
}

.car_specs {
	display: flex;
	font-family: caps;
	justify-content: space-between;
	font-size: 30px;
}

.specs {
	font-size: 12px;
	color: #6ab04c;
}

}

.cars_h2 {
	font-size: 30px;

}
.cars_p{
	font-size: 10px;
 	color: #95a5a6;
}
.price {
	align-self: flex-end;
}

form {
	display: flex;
	padding-top: 27px;
	width: 100%;

	
}
.selector {
	height: 40px;	
	width: 164px;
	border: 1px solid #FFF;
	border-radius: 30px;
	box-shadow: 0 3px 6px 0 rgba(24, 24, 24, 0.06);
	display: flex;
	font-family: caps;
	font-size: 14px;

}

.selector:hover {
	background-image: linear-gradient(to bottom, #6ab04c, #badc58);
	color: #181818;
	transition: color 300ms ease;
}

.amount {
	width: 72px;
 	height: 40px;
 	border: 1px solid #FFF;
	border-radius: 30px;
	/*background-image: linear-gradient(to bottom, #6ab04c, #badc58);*/
	box-shadow: 0 3px 6px 0 rgba(24, 24, 24, 0.06);
	align-content: flex-end;
	font-family: caps;
	font-size: 14px;
	color: #181818;
	margin-left: auto;

}

.amount:hover {
  	background-image: linear-gradient(to bottom, #6ab04c, #badc58);
	color: #181818;
	transition: color 300ms ease;
  	
}



.car_list {
	margin-top:  100px;
	display: flex;
	flex-wrap:  wrap ;
	justify-content: center;
	justify-content: space-between;
	text-align: center;
	
	}


.car_list li {
	margin-top: 100px;
	align-items: center;
}

.model_specs {
	font-size: 10px;
	color: #95a5a6;
}

.color {
	border: 1px solid black;
	width: 50px;
	height: 12px;
	background: red;
	
}	
.lazy {
}
footer  {
	margin-top: 100px;
	width: 100%
	

}
.contact	 {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	}

.contact p {
	font-size: 14px;
	color: #95a5a6;
}	

.number {
	font-size: 14px;
	color: #95a5a6;
}
.email {
	font-size: 14px;
	color: #95a5a6;
}
.email:visited {
	font-size: 14px;
	color: #95a5a6;
}


/*page 2*/


.hero_page2{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: calc(100vh - 80px);
}

.page2_section_1::before {
	content: url(../images/scroll_down.png);
	position: relative;	
	z-index: 5;
	top: -50px;
}
.page2_section_1 {
	display: flex;
	
}

.section_1_p {
	font-size: 14px;
	color:  #95a5a6;
}
.article_p1 {
	font-size: 14px;
	color:  #95a5a6;
}

.section_1_h1 {
	font-size: 30px;
	margin-bottom: 30px
}

aside {
	margin-right: 20px;
}

.section_1_p {
	margin-bottom: 60px;
}

.article_p1{
	margin-bottom: 42px;
}

.section_2_h1 {
	font-size: 30px;
	margin-top: 40px;
	margin-bottom: 20px;

}
.sectiont_2_p2 {
	font-size: 14px;
	color:  #95a5a6;
	margin-bottom: 17px;
}

.stars {
	display: flex;
	justify-content: center;

	border-radius: 10px;
	background-color: #e8f0f3;
}
.star_list li {
	font-family: caps;
	font-size: 18px;
	margin-bottom: 28px;
}
.star_span {
	font-size: 14px;
	color: #6AB04C;
}
.arcitcle_2_h1 {
	font-size: 30px;
}

.arcitcle_2_p {
	font-size: 14px;
	color:  #95a5a6;
}

.page2_sectoin_2 {
	display: flex;
	padding-top: 40px;
}
.pictures {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}

.section_3_h1 { 
	position: relative;
	top: 100px;

}

.section_3_p {
	font-size: 10px;
 	color: #95a5a6;
 	position: relative;
	top: 100px;
}

.section_2_image_performance::before {
	content: "";
	display: block;
	position: absolute;
	background-color: #181818;
	opacity: 0.9;
	top: 0;
	left: 0; 
	bottom: 0;
}

/*burger*/


.change #book2 {
	display: none;
}


.burger {
	display: none;
}

/*.burger {
	border: 1px solid #6AB04C;
	width: 40px;
	height: 30px;
	background-image: linear-gradient(to bottom, #6ab04c, #badc58);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px 20px 5px 20px;
	border-radius: 30px;
}
.burger_item {
	width: 30px;
	height: 5px;
	background: #FFF;
	margin-top: 3.5px;
	border-radius: 10px;


}

#bar1 {
	transform: rotateZ(45deg);
}
#bar2 {
	transform: translateY(-9px) rotate(-45deg);
}*/
